{% extends 'learning_marathon/layout.html' %}
{% load static %}
{% block body %}
<div class='p-md-5 m-1'>
    <div class='row align-content-center m-3 bg-dark' style='color:whitesmoke;border-radius:10px;min-height:70px'>
        <div class='col-lg-2'>
        </div>
        <div class='col-lg-5'>
            <p id='name'>Milena</p>
        </div>
        <div class='col-lg-5 text-right'>
            <p id='name'>Thomas</p>
        </div>
    </div>


    {% for day in data %}
    <div class='row align-content-center m-3' style='min-height:50px'>
        <div class='col-lg-2'>
            {{ day.day }}
        </div>
        <div class='col-lg-1'>
            {{ day.user1.udemy }}
        </div>
        <div class='col-lg-4'>
            {% if day.user1.rewards %}
            {% for reward in day.user1.rewards|get_range %}
            <i style='height: 20px;font-size: 20px;' class="fas fa-star"></i>
            {% endfor %}
            {% endif %}
        </div>
        <div class='col-lg-4 text-right'>
            {% if day.user2.rewards %}
            {% for reward in day.user2.rewards|get_range %}
            <i style='height: 20px;font-size: 20px;' class="fas fa-star"></i>
            {% endfor %}
            {% endif %}
        </div>
        <div class='col-lg-1 text-right'>
            {{ day.user2.udemy }}
        </div>

    </div>
    {% if day.user1.no_udemy != no_learn or day.user2.no_udemy != no_learn %}
    <div class='row align-content-center m-3' style='min-height:50px'>
        <div class='col-lg-2'>

        </div>
        <div class='col-lg-1'>
            {{ day.user1.no_udemy }}
        </div>
        <div class='col-lg-4'>
            {% if day.user1.rewards_no_udemy %}
            {% for reward in day.user1.rewards_no_udemy|get_range %}
            <i style='height: 20px;font-size: 20px;' class="far fa-star"></i>
            {% endfor %}
            {% endif %}
        </div>


        <div class='col-lg-4 text-right'>
            {% if day.user2.rewards.no_udemy %}
            {% for reward in day.user2.rewards.no_udemy|get_range %}
            <i style='height: 20px;font-size: 20px;' class="far fa-star"></i>
            {% endfor %}
            {% endif %}
        </div>
        <div class='col-lg-1 text-right'>
            {{ day.user2.no_udemy }}
        </div>

    </div>
    {% endif %}
    <hr />
    {% endfor %}

    <div class='row align-content-center m-3 bg-dark' style='color:whitesmoke;border-radius:10px;min-height:70px'>
        <div class='col-lg-2'>
            Summary: <i style='height: 20px;font-size: 30px;' class="fas fa-star"></i>
        </div>
        <div class='col-lg-5'>
            <p id='name'>{{ summary.user1_summary }}</p>
        </div>
        <div class='col-lg-5 text-right'>
            <p id='name'>{{ summary.user2_summary }}</p>
        </div>
    </div>

    <div class='row align-content-center m-3 bg-dark' style='color:whitesmoke;border-radius:10px;min-height:70px'>
        <div class='col-lg-2'>
            No Udemy: <i style='height: 20px;font-size: 30px;' class="far fa-star"></i>
        </div>
        <div class='col-lg-5'>
            <p id='name'>{{ summary.user1_no_udemy_summary }}</p>
        </div>
        <div class='col-lg-5 text-right'>
            <p id='name'>{{ summary.user2_no_udemy_summary }}</p>
        </div>
    </div>

</div>

{% endblock %}